{{% BLOCKS }}
<!DOCTYPE html>
<html lang="en">
<html>
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{{ titulo }}</title>

           <!-- > <link rel="stylesheet" href="/assets/css/default.css">  <-->

    </head>
        <header>
            <h1>Administração</h1>
            <div>
                <a href="/admin/user"><button>usuarios</button></a>
                <a href="/admin/ingresso"><button>ingressos</button></a>
                <a href="/home"><button>Home</button></a>
            </div>
        </header>
        <div id="content">
            <p>Olá, Administrador!</p>
            <form action="/user" method="">
                {{# user }}
                <input type="hidden" id="id" value={{.}}>
                {{/ user }}
            </form>
            {{!
                lista de ingressos existentes
                form para criar e editar ingressos
            }}
        </div>
    </body>
</html>
<style>
header{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center
}
</style>