{{% BLOCKS }}
<!DOCTYPE html>
<html lang="en">
<html>
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{{$ title }}My Awesome Site{{/ title }}</title>

           <!-- > <link rel="stylesheet" href="/assets/css/default.css">  <-->

    </head>
        <header>
        {{! botao para retornar a pagina inicial }}
            <h1>Welcome to My Awesome Site</h1>
        </header>
        <div id="content">
            <p>Hello, World!</p>
            {{!
                lista de ingressos existentes
                form para criar e editar ingressos
            }}
        </div>
    </body>
</html>